<div mdbModal #frame="mdbModal" class="modal fade top" id="frameModalTop" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-notify modal-warning" role="document">
    <!--Content-->
    <div class="modal-content">
      <!--Header-->
      <div class="modal-header text-center">
        <h4 class="modal-title white-text w-100 font-weight-bold py-2">{{is|json}}{{!isUpdate?'Add':'update'}} Pizza</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="frame.hide()">
          <span aria-hidden="true" class="white-text">&times;</span>
        </button>
      </div>
      
<form [formGroup]="pizzaForm">
      <!--Body-->
      <div  class="modal-body">
        <div class="md-form mb-5">
          <input type="text" formControlName="label"
          id="form3" class="form-control" 
          mdbInputDirective required >
          <label data-error="wrong" data-success="right" for="form3" >Pizza Label</label>
        </div>

        <div class="md-form">
          <input type="text" name="ingredient" id="form2" 
          class="form-control" mdbInputDirective 
          formControlName="ingredient">
          <label data-error="wrong" data-success="right" for="form2">Ingredient</label>
        </div>

        <div class="md-form">
            <input type="text" id="form4" 
            class="form-control" name="price" mdbInputDirective 
            formControlName="price">
            <label data-error="wrong" data-success="right" for="form4">Price</label>
          </div>
      </div>

</form>
      <!--Footer-->
      <div class="modal-footer justify-content-center">
        <a type="button"
           mdbBtn 
           color="warning" 
           outline="true" 
           class="waves-effect" 
           mdbWavesEffect
           (click)="!isUpdate?addPizza():updatePizza()">{{!isUpdate?'Save':'update'}}

          <i class="fa fa-paper-plane-o ml-1"></i>
        </a>
      </div>
    </div>
    <!--/.Content-->
  </div>
</div>