<div class="container">

  <h1 style="text-align: center">CFK PIZZA MENU
    <button type="button" 
      mdbBtn color="primary" 
      mdbWavesEffect class="float-right" 
      style="border-radius: 50%"
      (click)="showDetail()"
    >
      <span class="fa fa-plus"></span></button>
  </h1>
  <table mdbTable>
    <thead>
      <tr>
        <th scope="col">Image</th>
        <th scope="col">Label</th>
        <th scope="col">ingredient</th>
        <th scope="col">Price</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr mdbTableCol *ngFor="let pizza of pizzas" (dblclick)="updatePizza()">
        <th scope="row"> <img [src]="pizza.picture" class="img-responsive pizza" 
            alt="Image">
        </th>
        <th scope="row">{{pizza.label}}<code>{{pizza._id}}</code></th>
        <th scope="row">{{pizza.ingredient[0]}}</th>
        <th scope="row">{{pizza.price.toFixed(3)}}</th>
        <th scope="row">
          <span 
            class="fa fa-trash text-danger"
            (click)="deletePizza(pizza._id)"></span>
          
          </th>
      </tr>
    </tbody>
  </table>
</div>

<app-detail-pizza #detail></app-detail-pizza>
